.sliderBlock {
  display: flex;
  position: relative;
  width: 100%;
  height: 75dvh;
  background-color: rgb(170, 170, 170);
}

.slider_image {
  transition: .5s;
  width: inherit;
  position: absolute;
  height: inherit;
  animation: changeBg;
  animation-duration: 145s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0, 1.33);
  background-color: rgba(131, 131, 131, 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 480px) {
  .sliderBlock {
    display: flex;
    position: relative;
    width: 100%;
    height: 30dvh;
    background-color: rgb(170, 170, 170);
  }
}
@keyframes changeBg {
  0% {
    background-image: url("/images/modern_city.jpeg");
  }
  3% {
    background-image: url("/images/Feeney.jpeg");

  }
  6% {

    background-image: url("/images/brusel.jpeg");
  }
  9%{
    background-image: url("/images/photo1716466398 (2).jpeg");

  }
  12%{
    background-image: url("/images/photo1716466398 (3).jpeg");

  }
  15%{
    background-image: url("/images/photo1716466398 (4).jpeg");

  }
  18% {
    background-image: url("/images/photo1716466398 (5).jpeg");


  }
  21% {
    background-image: url("/images/photo1716466398 (6).jpeg");

  }
  24% {
    background-image: url("/images/photo1716466398 (7).jpeg");

  }
  27% {
    background-image: url("/images/photo1716466398 (8).jpeg");
  }
  30% {
    background-image: url("/images/photo1716466398 (9).jpeg");
  }
  33% {
    background-image: url("/images/photo1716466398 (10).jpeg");

  }
  36% {
    background-image: url("/images/photo1716466398.jpeg");

  }
  39% {
    background-image: url("/images/photo1716466445 (1).jpeg");

  }
  42% {
    background-image: url("/images/photo1716466445 (2).jpeg");

  }
  45% {
    background-image: url("/images/photo1716466445 (3).jpeg");

  }
  48% {
    background-image: url("/images/photo1716466445 (4).jpeg");
  }
  51% {
    background-image: url("/images/photo1716466445 (5).jpeg");
  }
  55% {
    background-image: url("/images/photo1716466445 (6).jpeg");
  }
  60% {
    background-image: url("/images/photo1716466445 (7).jpeg");
  }
  65% {
    background-image: url("/images/photo1716466445 (8).jpeg");
  }
  70% {
    background-image: url("/images/photo1716466445 (9).jpeg");
  }
  75% {
    background-image: url("/images/photo1716466445.jpeg");
  }
  80% {
    background-image: url("/images/photo1716466461 (1).jpeg");

  }
  85% {
    background-image: url("/images/photo1716466461 (2).jpeg");

  }
  90% {
    background-image: url("/images/photo1716466461 (3).jpeg");
  }
  94% {
    background-image: url("/images/photo1716466461 (4).jpeg");
  }

  98% {
    background-image: url("/images/photo1716466461");
  }

  100% {
    background-image: url("/images/modern_city.jpeg");
  }
}