.about_present {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 70vh;
  padding-top: 20px;
  background: url(/images/businessman.jpg) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  padding: 20px 0;
}

.about_present > p:nth-child(1) {
  font-size: 30px;
  width: 50%;
  text-align: center;
  color: #ffff;
  letter-spacing: 1px;
}

.about_present > p:nth-child(2) {
  color: #Ffffff;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  font-style: italic;
}
.about_present_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  align-items: center;
  background: url(https://247510.selcdn.ru/mybiz_production/posts/images/posters/398213efa44cef856b880aeddbc3d51fe4e7e71b.jpg) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.154);
  background-blend-mode: multiply;
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: 5px;
}
.about_present_2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  align-items: center;
  background: url(/images/businessman.jpg) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.154);
  background-blend-mode: multiply;
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: 5px;

}
.about_present_3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  align-items: center;
  background: url(https://stolicaonego.ru/images/news/483/483762/main.jpg) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.154);
  background-blend-mode: multiply;
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: 5px;
}
.about_present_4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  align-items: center;
  background: url(https://технология-бизнеса.рф/upload/iblock/2d6/2d616aae7387f785661fe9f915c6dc92.jpg) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.154);
  background-blend-mode: multiply;
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: 5px;
}
.about_present_5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  align-items: center;
  background: url(https://alterainvest.ru/upload/iblock/11c/11c272fd826333f0cda234f06235d665.jpg) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.154);
  background-blend-mode: multiply;
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: 5px;
}

.about_present_6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  align-items: center;
  background: url(https://business.tpu.ru/upload/constructor/b7c/mg9obu3tfmqs229bzyger2piqqopm6bd.jpg) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.154);
  background-blend-mode: multiply;
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: 5px;
}

.card_item {
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s linear;

  display: flex;
  align-items: center;
}

.card_image {
  margin-right: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #2462ffc1;

  background: url(/images/cite-photo.jpg) no-repeat;
  background-size: cover;
}

.card_item p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #Ffffff;
}
.card_item p:nth-child(2) {
  font-size: 12px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  font-style: italic;
}
.about_us{
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_us div h2 {
  color: #Ffffff;
  background-color: #2462ffc1;
  padding: 2px 10px;
  border-radius: 3px;
  width: fit-content;
  margin-bottom: 10px;
}
.about_us div p {
  color: rgb(44, 44, 44);
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 30px;
  max-width: 800px;
}
.about_us_image_block{
  height: 200px;

  background: url(/images/businessman.jpg) no-repeat center;
  background-size: cover;
}
@media (max-width: 480px) {
  .about_present {
    padding-top: 10px;
    
  }
  
  .about_present > p:nth-child(1) {
    font-size: 25px;
    width: 100%;
    padding: 5px;
    text-align: center;
    text-shadow: none;
  }
  
  .about_present > p:nth-child(2) {
    width:100%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .card_item {
    padding: 5px;
    border: none;
    border-radius: 5px;
    transition: 0.2s linear;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .card_image {
    margin-right: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #2462ffc1;
  
    background: url(/images/cite-photo.jpg) no-repeat;
    background-size: cover;
  }
  
  .card_item p:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .card_item p:nth-child(2) {
    font-size: 14px;
    letter-spacing: 2px;
    color: rgb(85, 85, 85);
    font-style: italic;
  }

  .about_us{
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  
}

